@import "tailwindcss";

@layer base {
    :root {
        --gradient-background: linear-gradient(to bottom left, #19274e, #220114);
        scroll-behavior: smooth;
    }
}

.shooting-star {
    position: absolute;
    width: 2px;
    height: 80px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), transparent);
    animation: meteor-shower 5s linear infinite;
}

.shooting-star:nth-child(1) {
    top: 50%;
    left: -50px;
    animation-delay: 0s;
    animation-duration: 3s;
}
.shooting-star:nth-child(2) {
    top: -50px;
    left: 20%;
    animation-delay: 1s;
    animation-duration: 4s;
}
.shooting-star:nth-child(3) {
    top: -50px;
    left: 80%;
    animation-delay: 2s;
    animation-duration: 3.5s;
}
.shooting-star:nth-child(4) {
    top: 20%;
    left: 105%;
    animation-delay: 3s;
    animation-duration: 5s;
}
.shooting-star:nth-child(5) {
    top: 105%;
    left: 70%;
    animation-delay: 4s;
    animation-duration: 2.5s;
}
.shooting-star:nth-child(6) {
    top: 105%;
    left: 10%;
    animation-delay: 5s;
    animation-duration: 4.5s;
}
.shooting-star:nth-child(7) {
    top: 80%;
    left: -50px;
    animation-delay: 6s;
    animation-duration: 3s;
}
.shooting-star:nth-child(8) {
    top: -50px;
    left: 50%;
    animation-delay: 7s;
    animation-duration: 4s;
}

.shooting-star:nth-child(n+9) {
    display: none;
}

@keyframes meteor-shower {
    0% {
        transform: rotate(215deg) translateX(0);
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(215deg) translateX(-1000px);
        opacity: 0;
    }
}

.oval {
    width: 40px;
    height: 60px;
    border: 2px solid white;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 12px;
    height: 12px;
    border-style: solid;
    border-color: white;
    border-width: 0 2px 2px 0;
    animation: slide-down 2s ease-in-out infinite;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-8px) rotate(45deg);
  }
  50% {
    opacity: 1;
    transform: translateY(0) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translateY(8px) rotate(45deg);
  }
}