---
---
<section class="relative h-screen w-full bg-gradient-to-bl from-[#19274e] to-[#220114] overflow-hidden">
    <div class="absolute top-0 left-0 w-full h-full">
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
    </div>
    <div class="container relative mx-auto flex h-full flex-col items-center justify-center px-4 text-center">
        <h1 class="text-4xl font-bold text-white md:text-6xl">MarkiDev</h1>
        <p class="mt-4 text-lg text-white md:text-2xl">Desarrollo web a tu medida</p>
    </div>
    <div class="scroll-down-indicator absolute bottom-10 left-1/2 transform -translate-x-1/2">
        <div class="oval">
            <div class="arrow"></div>
        </div>
    </div>
</section>
