---
import "../styles/global.css";

const especialidades = [
    {
        img: {
            src: "/ico/pc.png",
            alt: "Desarrollo Web",
        },
        titulo: "Desarrollo Web",
        texto: "Creo sitios web y aplicaciones moviles a medida, utilizando las últimas tecnologías y frameworks del mercado.",
    },
    {
        img: {
            src: "/ico/bd.png",
            alt: "Despliege de Sistemas",
        },
        titulo: "Bases de Datos",
        texto: "Diseño y administración de sistemas tanto locales como en la nube.",
    },
    {
        img: {
            src: "/ico/ia.png",
            alt: "Inteligencia Artificial",
        },
        titulo: "Inteligencia Artificial",
        texto: "Implementación de automatizaciones con inteligencia artificial para optimizar procesos y maximizar ganancias a partir de tareas repetitivias.",
    },
];

---

<section class="relative py-20 bg-gradient-to-bl from-[#19274e] to-[#220114]">
    <div class="absolute inset-0 bg-cover bg-right bg-no-repeat opacity-30"
        style="background-image: url(/img/code.png);">
    </div>
    <div class="container relative mx-auto px-4 text-center">
        <h2 class="text-4xl font-bold text-white">Mis Especialidades</h2>
        <div class="mt-10 grid grid-cols-1 gap-8 md:grid-cols-3">
            {especialidades.map((especialidad) => (
                <div class="rounded-lg border border-gray-700 bg-gray-800 p-8 text-center">
                    <img
                        src={especialidad.img.src}
                        alt={especialidad.img.alt}
                        class="mx-auto h-20 w-20"
                    />
                    <h3 class="mt-4 text-2xl font-bold text-white">
                        {especialidad.titulo}
                    </h3>
                    <p class="mt-2 text-gray-400">{especialidad.texto}</p>
                </div>
            ))}
        </div>
    </div>
</section>
