---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="keywords" content="desarrollador web, portfolio, desarrollo web, programador, freelance, paginas web, sitios web" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>